*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    padding: 20px;
}
.lbl-menu{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}
.lbl-menu #spn1, #spn2, #spn3{
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 5px;
    border-radius: 5px;
}
#spn2{
    top: 11px;
}
#spn3{
    top: 22px;
}
#btn-menu{
    display: none;
}